@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    top:0;
    width:100%;
    height:90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(95, 177, 93);
}

.logo_div a{
    font-size: 40px;
    font-weight:800;
    color:white;
}

.nav-wrapper{
    width:80%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    width:200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 24px;
    font-weight: 700;
    color:rgb(46, 88, 45);
}